@model IEnumerable<Bug_tracker.Models.ApplicationUser>


<h2>Admin Dashboard</h2>





<table class="table table-bordered">
  @foreach (var item in Model)
  {
   <tr>
        <th>
            @Html.DisplayFor(modelItem => item.FirstName )
        </th> 
        <th>
            @Html.DisplayFor(modelItem => item.LastName )
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Email)
        </th>
        <th>
            @Html.ActionLink("Admin", "EditUser", new { id = item.Id })
        </th>
       
    </tr>
  }
</table>
